.MainContent {
    display: flex;
    min-height: calc(100vh - 120px);

    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;

    padding-top: 90px;
}

.ScrollButton {
    width: 48px;
    height: 48px;
    position: fixed;
    top: 736px;
    right: 90px;

    cursor: pointer;
}
